<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>ご飯は美味しい店に行こう！</h1>
        <a href="" class="btn btn-success btn-lg">無料会員登録</a>
      </div>
    </div>
  </div>
<% end %>
