<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>ご飯は美味しい店に行こう！</h1>
        <% unless logged_in? %>
          <%= link_to 'TABESHOPを始める', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-8">
    <%= render 'shops/shops', shops: @shops %>
  </div>
</div>
