@charset "utf-8";

html {
  font-size: 62.5%;
}
/* body */
body {
  color: #333

}
*,*::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.wrapper {
  margin: 30px auto 40px;

  flex-flow: row nowrap;
}

.lay {
  display: block;
}

.main {
  display: block;
  float: left;
  width: 100%;

}



footer {
  margin-top: 40px;
  width: 100%;

}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background: url("/images/cover.gggg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 50px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.item .panel-body {
  height: 70px;
}
.item .panel-heading {
  height: 250px;
}
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}

.sidemenu-panel .panel-heading {
  height: 40px
}

.sidemenu-panel .panel-body {
  max-height: 250px;
}

.sidemenu-panel .panel-body .starttime {
  max-height: 500px;
  overflow: scroll;

}

.starttime-kensaku {
  display: inline-block;
}

.finishtime-kensaku {
  display: inline-block;
}


p.shopname {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  font-size: 2.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-muted {
  font-size: 1.2rem;
}
p.desc {
  margin: 0 0 10px 30px;
}

.shop .panel-body {
  height: 70px;
}
.shop .panel-heading {
  height: 350px;
}
.shop .panel-heading img {
  height: 100%;
  max-width: 100%;
}
.shop .shopname {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  font-size: 3.1rem;

}

.mannaka {
  margin: -10px 0 10px 30px;
}

.shop .text-muted {
  font-size: 1.5rem;
}

#form02{
    block: inline;
    background-color: white;
    border: 1px green solid;
    cursor: pointer;
}
#form02 input{
    vertical-align: top;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}
#form02{
    border-radius: 20px;
}
#input02{
    border: none;
    padding-left: 20px;
}
#submit02{
    border: none;
    background-image: url(画像へのパス);
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

#submit03{
    width: 80%;
    margin: -10px 25px 5px 25px;


}

.tabeform {
  margin-right: -30px;
}

.resetbutton {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  margin-top: -0.5em;
  line-height: 1;
  font-size: 1.5rem


}

.resetbutton  a {
  color:#333;
}

p .shopname-checkbox {
  display: inline-block;
  margin-right: 3px;
}

.star-button {
  display: inline-block;
  margin: auto;
}

.downstarttime {
  overflow: scroll;
}

.star-icon {
  color: #f1b400;
}
