@import "bootstrap-sprockets";
@import "bootstrap";
@charset "utf-8";

html {
  font-size: 62.5%;
}
/* body */
body {
  color: #333

}
*,*::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.wrapper {
  margin: 30px auto 40px;

  flex-flow: row nowrap;
}

.lay {
  display: block;
}

.main {
  display: block;
  float: left;
  width: 100%;

}



footer {
  margin-top: 40px;
  width: 100%;

}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  background: url("/images/tabe.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 50px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.item .panel-body {
  height: 70px;
}
.item .panel-heading {
  height: 250px;
}
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}

.sidemenu-panel .panel-heading {
  height: 40px
}

.sidemenu-panel .panel-body {
  max-height: 250px;
}

.sidemenu-panel .panel-body .starttime {
  max-height: 500px;
  overflow: scroll;

}

.starttime-kensaku {
  display: inline-block;
}

.finishtime-kensaku {
  display: inline-block;
}


p.shopname {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  font-size: 2.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-muted {
  font-size: 1.2rem;
}
p.desc {
  margin: 0 0 10px 30px;
}

.shop .panel-body {
  height: 70px;
}
.shop .panel-heading {
  height: 350px;
}
.shop .panel-heading img {
  height: 100%;
  max-width: 100%;
}
.shop .shopname {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  font-size: 3.1rem;

}

.mannaka {
  margin: -10px 0 10px 30px;
}

.shop .text-muted {
  font-size: 1.5rem;
}

#form02{
  position: relative;/*フォームの相対位置*/
  width:800px;/*フォームのサイズ*/
  margin-bottom:15px;/*フォームの下に余白*/
  cursor: pointer;
}
#form02 input{
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}
#form02{
    border-radius: 20px;
}
#input02{
    border: none;
    width: 110%;
    height: 100%;

}
#submit02{
width:70px;/*検索ボタンの横幅*/
height:50px;/*検索ボタンの縦幅*/
position:absolute;/*検索ボタンの絶対位置*/
left:500px;/*検索ボタンの位置調整*/
top:0;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
background:#7fbfff;/*検索ボタンの背景カラー*/
border:none;/*検索ボタンの枠線を消す*/
color:#fff;/*検索ボタンのテキストカラー*/
font-weight:bold;/*検索ボタンのテキスト太字*/
font-size:16px;/*検索ボタンのフォントサイズ*/
}

#submit02:hover {
  background-color: #33CCFF;
}


#submit03{
    width: 80%;
    margin: -10px 25px 5px 25px;


}

.tabeform {
  left:-40px;
  top:0;
  outline:0;/*クリック時の青い枠線消す*/
  height:50px;/*検索ボックスの高さ*/
  padding:0 0px;/*テキスト位置調整*/
  border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/
  border: 1px solid #CCCC99;
  background:#eee;/*検索ボックスの背景カラー*/
}

.tabeform :hover{
background-color:#FFCC99;/*検索ボタンマウスオーバー時のフォントカラー*/
}

.resetbutton {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  margin-top: -0.5em;
  line-height: 1;
  font-size: 1.5rem
}

.resetbutton  a {
  color:#333;
}
.resetbutton :hover {
  background-color:#FFFFFF;
}

p .shopname-checkbox {
  display: inline-block;
  margin-right: 3px;
}

.star-button {
  display: inline-block;
  margin: auto;
}

.downstarttime {
  overflow: scroll;
}

.star-icon {
  color: #f1b400;
}

.user-profile .name {
  margin-bottom: 20px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}

.reviews {
  margin: auto;
}

.reviews .reviews-user .img-circle {
  width: 25px;
  height: 25px;
}

.reviews .reviews-user .reviews-title a{
  color: #000000;
}
.reviews .reviews-star-img {
  margin-left: -15px;
}
.reviews .reviews-rate {
  position: absolute;
  margin-left: 90px;
  font-size: 18px;
  color: red;
  font-weight: bold;
}
.reviews .reviews-title {

  font-size: 15px;
  margin: 25px 0px;
}
.reviews .reviews-time {

  margin-top: -20px;
  font-size: 12px;
  font-weight: 200;
}
.reviews .reviews-content {
  margin-top: 15px;
}

.sosyal {
  margin: 30px auto;

}

.facebookbutton {
  display: block;
  width: 40%;
  color: white;
  font-size: 15px;
  background-color: #2e4a88;

}

.facebook-icon {
  font-size: 20px;
}

.facebookbutton:hover {
  color: #FFFFFF;
  background-color: #354F84;
}

.facebookbutton:active {
  background-color: #354F84;
}

.linebutton {
  display: block;
  width: 40%;
  color: #FFFFFF;
  font-size: 15px;
  background-color: #00C300;
}

.line-icon {
  font-size: 20px;
}

.linebutton:hover {
  color: #FFFFFF;
  background-color: #00E000;
}

.linebutton:active {
  background-color: #00B300
}
